sock
k88_32
k88
sock32
testll
testnodb
testutil
sec.h
foo
db/*
db/**/*.*
testdb/*
testdb/**/*.*
test*.*
vgcore.*
*.o
mods/modtape.*
config.ini
mods/modconf.ini
run.log
mods/markov/learndata/*
!mods/markov/learndata/throw_data_here
mods/lastseen/seen.ini
mods/chanscraper/feels.ini
mods/tell/tells.ini
k88.service
mods/trigs/trigs.ini
mods/wtrigs/wtrigs.ini
mods/bridge/routing.ini
mods/remind/reminders.ini
